<ng-container>
  <br>
  <br>

  <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
    <mat-form-field>
      <input matInput placeholder="ID Number" [(ngModel)]="id" required>
    </mat-form-field>
  </div>
  <br>
  <br>
  
  <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
    <mat-form-field>
      <input type="date" matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]="db" onfocus="(this.type='date')" onblur="(this.type='text')">
      <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
  </div>
  <br>
  <br>
  
  <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
    <mat-list-item role="listitem" style="position: center">
      <button class="buttonSubmit" mat-button (click)="btnClick();" [disabled]='submitted'>Submit</button>
    </mat-list-item>

  </div>
  
  <br>
  <br>
  <!-- <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
      
    <button  mat-button (click)="btnClickNewHire();" color="primary">New Hire / No ID Number Yet?</button>
        
  </div> -->
  <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center">
    <div class="loading-indicator"  *ngIf="showSpinner">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </div>
  </div>
</ng-container>

