.mat-dialog-content {
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

.mat-dialog-container {
    height: 400px !important;
    width: 400px !important;
}

.customMatFormField {
    width: 180px !important;
    padding: 10px !important;
}


mat-form-field {
    width: 700px !important;
}

mat-dialog {
    height: 550px !important;
}

mat-checkbox {
    padding: 10px !important;
}