<ng-container *ngIf="show">
        <mat-grid-list cols="1"  rowHeight="fit" style="height: 400px">
            <mat-grid-tile>
                <mat-card>
                    You are ready to enter into an agreement and you want to define the terms and conditions of the agreement.
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-checkbox [(ngModel)]="checked">I agree</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="btnIagreeClick()">Submit</button>
            </mat-grid-tile>
        </mat-grid-list>
</ng-container>

<router-outlet></router-outlet>
