<ng-container *ngIf="show">
        <mat-grid-list cols="1"  rowHeight="7:1">
            <mat-grid-tile>
                <mat-card>
                    Makati Medical Center respects privacy of personal data.  
                    We are committed to handling with care your personal data that are under our control. 
                    It is your right to be informed how this hospital collects and uses your personal information. 
                    More information on how we handle your Personal Data, including the purposes for which we collect, use, 
                    and disclose them are available through this link ----
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-checkbox [(ngModel)]="checked">Check to Proceed</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="btnIagreeClick()">Submit</button>
            </mat-grid-tile>
        </mat-grid-list>
</ng-container>

<router-outlet></router-outlet>
