<!-- 
<mat-list>
  <mat-list-item>{{IDname}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list> -->

<mat-toolbar>{{IDname}}</mat-toolbar>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
    
      

      <mat-grid-list cols="3" rowHeight="3:1">
        <mat-list-item>Basic Information</mat-list-item>
        <mat-divider></mat-divider>
        <!-- ********************************************* -->
        <!-- 1ST ROW : START -->
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <input  matInput placeholder="Last name" formControlName="frmCtrlLname" (keyup)="dataChange($event)" required >
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <input matInput placeholder="First name" formControlName="frmCtrlFname" required >
            </mat-form-field>
          </div>

        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <input matInput placeholder="Middle name" formControlName="frmCtrlMname" >
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <!-- 1ST ROW : END -->

        <!-- ********************************************* -->
        <!-- 2ND ROW : START -->
        <mat-grid-tile>
          <div>
      
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date of Birth(MM/DD/YYYY)" formControlName="frmCtrlDB" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
      
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <mat-select placeholder="Gender" formControlName="frmCtrlGender" required>
                <mat-option *ngFor="let g of gender" [value]="g.code">{{g.desc}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <mat-select placeholder="Marital Status" formControlName="frmCtrlMarital" required>
                <mat-option *ngFor="let m of maritalStatus" [value]="m.MaritalID">{{m.MaritalStatus}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
     
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="5:1">
        <mat-list-item>Address</mat-list-item>
        <mat-divider></mat-divider>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <h4>Present Address</h4>
        </mat-grid-tile>
        <mat-grid-tile>
          <h4>Permanent Address</h4>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <input matInput placeholder="Street/Unit/Block/Lot Number" formControlName="frmCtrlAddress11" >
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
              <mat-form-field>
                <input matInput placeholder="Street/Unit/Block/Lot Number" formControlName="frmCtrlAddress21" >
              </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <input matInput placeholder="Street/Unit Name" formControlName="frmCtrlAddress12" >
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
              <mat-form-field>
                <input matInput placeholder="Street/Unit Name" formControlName="frmCtrlAddress22" >
              </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <div>
              <mat-form-field>
                <input matInput placeholder="Subdivision/Block Name" formControlName="frmCtrlAddress13" >
              </mat-form-field>
            </div>
          </mat-grid-tile>
  
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <input matInput placeholder="Subdivision/Block Name" formControlName="frmCtrlAddress23" >
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <mat-select placeholder="Postal" formControlName="frmCtrlCity1" required>
              <!-- <mat-select placeholder="Postal" formControlName="selectedCity1" required> -->
                <!-- <mat-option *ngFor="let p of postalCity1" [value]="p.ID">{{p.Location}}</mat-option> -->
                <mat-option *ngFor="let p of postalCity1" [value]="p.Area">{{p.Location}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <mat-select placeholder="Postal" formControlName="frmCtrlCity2" required>
                <mat-option *ngFor="let p of postalCity2" [value]="p.ID">{{p.Location}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <!-- Bottom button : START -->
        <mat-grid-tile>
          <div class="fab-containerNext">
            <button mat-fab matStepperNext>Next</button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <!-- Bottom button : END -->
      </mat-grid-list>
  
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Relatives Information</ng-template>
      <mat-form-field>
        <input matInput placeholder="Mother's Maiden Name" formControlName="secondCtrl" required>
      </mat-form-field>
      <div class="fab-containerPrev">
        <button mat-fab matStepperPrevious>Back</button>
      </div>
      <div class="fab-containerNext">
        <button mat-fab matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Employment Records</ng-template>
      <mat-form-field>
        <input matInput placeholder="Previous Company" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step  [optional]="isOptional">
    
      <ng-template matStepLabel>Review Information</ng-template>
      <div>
        <h3>
          LASTNAME: {{lastName}}
        </h3>
      </div>
      <!-- <div>
          <mat-form-field>
            <input  matInput placeholder="Last name" formControlName="frmCtrlLname" readonly >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="First name" formControlName="frmCtrlFname" readonly >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Middle name" formControlName="frmCtrlMname" >
          </mat-form-field>
        </div> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
   
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<app-spinner *ngIf="showSpinner"></app-spinner>